*~
\#*\#
.\#*

.directory
.Trash-*

$RECYCLE.BIN/
Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store
._*
.Spotlight-V100
.Trashes

load.cfg
disk.img
disk.vdi
net/disk.img.gz
.vagrant
.ssh_config
build/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.img

# Debug files
*.dSYM/
*.s
*.i
*.ii

# Makefile
*.d

source/kernel/dev/pciid_table.cc
source/kernel/dev/pci.ids.formatted

GPATH
GRTAGS
GSYMS
GTAGS
